/*This affects every html page.*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
body{
  z-index:1;
    margin: 0px;
    width: 100vw;
    height: 100vh;
  background-image:url("https://cdna.artstation.com/p/assets/images/images/021/732/412/original/lida-cosgrove-lcosgrove-campfire-final-full.gif?1572759240");
      background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: monospace;
}

div{
    display: flex;
} 

button,.musicinfo{
  align-self:center;
    margin-inline: 2.5vw;
    background-color: #e77d36;
    padding: .35rem;
    margin-top:2vh;
    font-size: xx-large;
    border-radius: 1rem;
    border-width: .15rem;
    border-color: #9E4C1D;
    border-style: solid;
  color:#201713;
  transition: all 1s ease-in-out;
    font-family: 'Brush Script MT', cursive;
}
button:hover, musicinfo:hover{
  border-color:#ECCB9995;
  border-radius:.5rem;
  background-color: #db5f29;
}
button:active{
  background:red;
}

a{
  color:#201713;
  text-decoration:none;
}

.welcomemsg{
  margin-left:50vw;
  transform:translate(-50%);
  height:10vh;
  margin-top: 0px;
}

#greet{
  margin-left:50%;
  transform:translate(-50%);
  font-size:2.5vw;
  color:#ECCB99;
}
#alltype{
  margin-left:auto;
}

.main{
  height:70vh;
  width:100vw;
}

.chatbox, .chatpop{
  flex-direction:column;
  font-size:5vh;
  background:#ECCB9995;
  margin-left:auto;
  margin-right:2.5vw;
  margin-top:5vh;
  margin-bottom:0px;
  border-radius: 1rem;
  border-width: .15rem;
  border-color: #ECCB9995;
  border-style: solid;
  height:max-content;
  padding:1rem;
  width:20%;
}
h3{
  margin:0px;
}
#chats{
  clear:both;
}
.write{
  justify-content:center;
}
input{
  font-size:medium;
  width:100%;
  background:#ECCB99;
  border-style:none;
}
input:focus{
   outline: none; }
}

li{
  margin-right:auto;
}
#message{
  margin-top:auto;
  margin-bottom:auto;
  width:100%;
}
#add{
  margin-top:auto;
  margin-bottom:auto;
  font-size:1vw;
  margin-right:0px;
}

.bottom{
  z-index:10;
  height:20vh;
  align-self:center;
}

.musicinfo{
  margin-top:5vh;
  font-size:2.5vw;
  width:min-content;
  height:min-content;
}

#radio{
  margin-left:2.5vw;
}

.connectPortal{
  right: 0;
  position: fixed;
  top: 50%;
  transform: translate(0px, -50%);
  flex-direction:column;
  font-size:5vh;
  background:#ECCB9995;
  margin-left:auto;
  margin-right:2.5vw;
  margin-top:10vh;
  margin-bottom:0px;
  border-radius: 1rem;
  border-width: .15rem;
  border-color: #ECCB9995;
  border-style: solid;
  height:max-content;
  padding:1rem;
  width:20%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #201713;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #201713;
}

/*Confetti Button*/
.confetti-button {
  align-self:center;
  transform: scale(0.5);
  font-family: 'Brush Script MT', cursive;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #e77d36;
  color: #201713;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  }
  .confetti-button:focus { outline: 0; }
  
  .confetti-button:before, .confetti-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .confetti-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #9E4C1D 20%, transparent 20%),
     radial-gradient(circle, transparent 20%, #9E4C1D 20%, transparent 30%),
     radial-gradient(circle, #9E4C1D 20%, transparent 20%), 
     radial-gradient(circle, #9E4C1D 20%, transparent 20%), 
     radial-gradient(circle, transparent 10%, #9E4C1D 15%, transparent 20%), 
     radial-gradient(circle, #9E4C1D 20%, transparent 20%), 
     radial-gradient(circle, #9E4C1D 20%, transparent 20%),
     radial-gradient(circle, #9E4C1D 20%, transparent 20%),
     radial-gradient(circle, #9E4C1D 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
     10% 10%, 18% 18%;
  }
   .confetti-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #9E4C1D 20%, transparent 20%),
     radial-gradient(circle, #9E4C1D 20%, transparent 20%), 
     radial-gradient(circle, transparent 10%, #9E4C1D 15%, transparent 20%), 
     radial-gradient(circle, #9E4C1D 20%, transparent 20%),
     radial-gradient(circle, #9E4C1D 20%, transparent 20%),
     radial-gradient(circle, #9E4C1D 20%, transparent 20%),
     radial-gradient(circle, #9E4C1D 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  
  .confetti-button:active {
    transform: scale(0.9);
    background-color: #9E4C1D;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  .confetti-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  
  .confetti-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
   @keyframes
  topBubbles {  0% {
   background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 
   55% 90%, 70% 90%;
  }
   50% {
   background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 
   65% 20%, 90% 30%;
  }
   100% {
   background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%,
    65% 10%, 90% 20%;
   background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
  }
  @keyframes
  bottomBubbles {  0% {
   background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
   50% {
   background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
   100% {
   background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
   background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
  }