/*This affects every html page.*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
body{
  z-index:1;
    margin: 0px;
    width: 100vw;
    height: 100vh;
  background-image:url("https://cdna.artstation.com/p/assets/images/images/021/732/412/original/lida-cosgrove-lcosgrove-campfire-final-full.gif?1572759240");
      background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: monospace;
}

div{
    display: flex;
} 

button,.musicinfo{
  align-self:center;
    margin-inline: 2.5vw;
    background-color: #e77d36;
    padding: .35rem;
    margin-top:2vh;
    font-size: xx-large;
    border-radius: 1rem;
    border-width: .15rem;
    border-color: #9E4C1D;
    border-style: solid;
  color:#201713;
  transition: all 1s ease-in-out;
    font-family: 'Brush Script MT', cursive;
}
button:hover, musicinfo:hover{
  border-color:#ECCB9995;
  border-radius:.5rem;
  background-color: #db5f29;
}
button:active{
  background:red;
}

a{
  color:#201713;
  text-decoration:none;
}

.welcomemsg{
  height:10vh;
  margin-top: 0px;
}

#greet{
  margin-left:50%;
  transform:translate(-50%);
  font-size:2.5vw;
  color:#ECCB99;
}
#alltype{
  margin-left:auto;
}

.main{
  height:70vh;
  width:100vw;
}

.chatbox{
  flex-direction:column;
  font-size:5vh;
  background:#ECCB9995;
  margin-left:auto;
  margin-right:2.5vw;
  margin-top:5vh;
  margin-bottom:0px;
  border-radius: 1rem;
  border-width: .15rem;
  border-color: #ECCB9995;
  border-style: solid;
  height:max-content;
  padding:1rem;
  width:20%;
}
h3{
  margin:0px;
}
#chats{
  clear:both;
}
.write{
  justify-content:center;
}
input{
  font-size:medium;
  width:100%;
  background:#ECCB99;
  border-style:none;
}
input:focus{
   outline: none; }
}

li{
  margin-right:auto;
}
#message{
  margin-top:auto;
  margin-bottom:auto;
  width:100%;
}
#add{
  margin-top:auto;
  margin-bottom:auto;
  font-size:1vw;
  margin-right:0px;
}

.bottom{
  z-index:10;
  height:20vh;
  align-self:center;
}

.musicinfo{
  margin-top:5vh;
  font-size:2.5vw;
}

#radio{
  margin-left:2.5vw;
}

.connectPortal{
  flex-direction:column;
  font-size:5vh;
  background:#ECCB9995;
  margin-left:auto;
  margin-right:2.5vw;
  margin-top:5vh;
  margin-bottom:0px;
  border-radius: 1rem;
  border-width: .15rem;
  border-color: #ECCB9995;
  border-style: solid;
  height:max-content;
  padding:1rem;
  width:20%;
}