{% extends "style.html" %}
<!--This is the html head.-->
{% block head %}


{% endblock %}
<!--This is the html body.-->
{% block body %}

<div class="main">
  <div class="welcomemsg">
<!--If user is logged in, username will be displayed-->
<!--Connect & Chatbox features to be shown only when logged in-->
  {% if session %}
    <h1 id="greet">Welcome {{session.userinfo.name}}!</h1>
    
    <div class="connectPortal">
    <details>
      <summary>Join A Study Group</summary>
      <p>subject1</p>
      <p>subject2</p>
    </details>
    <button onclick="/connect">Connect</button>
    </div>
      
    <div class = "chatbox" id="chatbox">
      <h3 style="width:100%;text-align:center;">chat</h3>
      <ul id="messages" style="list-style: none;padding:0px;"></ul>
      <div class="write">
        <input type="text" id="message">
          <button id="add" onclick="AddLi(message.value)">Send</button>
      </div>
    </div>



    
  {% else %}
    <h1 id="greet">Welcome Guest</h1>
    <button id="alltype"><a href=/login>Login</a></button>
  {% endif %}
  </div> <!--end of welcomemsg class-->
</div>

<!--make the Play/Pause Audio smaller?-->
<div class="bottom">
  <div class="musicinfo">
    <audio id="idAudio">
  		<source src="{{url_for('static', filename='campfire.mp3')}}" type="audio/mpeg">
    </audio>
    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
      <button onclick="play_Audio()" type="button">Play Audio</button>
  	  <button onclick="pause_Audio()" type="button">Pause Audio</button>
    </div>
  </div>
  <script>
		var GFG = document.getElementById("idAudio");

		function play_Audio() {
			GFG.play();
		}

		function pause_Audio() {
			GFG.pause();
		}
	</script>
  <script type="text/javascript">
function AddLi(str)
{
    var li = document.createElement('li');
    li.appendChild(document.createTextNode(str))
    document.getElementById("messages").appendChild(li);
  document.querySelector('#message').value = "";
}
  </script>
</div>
{% endblock %}

