{% extends "style.html" %}
<!--This is the html head.-->
{% block head %}


{% endblock %}
<!--This is the html body.-->
{% block body %}

<div class="main">
  <div class="welcomemsg" style="margin-left:0;">
  
    <h1 id="greet" style="font-family: 'Amatic SC', cursive;margin-left:50vw;transform:translate(-50%);white-space:nowrap;">Welcome Guest</h1>
    <button id="alltype" style="font-size:15vh;margin-left:25vw;"><a href="/login">Login</a></button>
  
  </div> <!--end of welcomemsg class-->
  
  
</div>

<!--Audio Play/Pause buttons-->
<div class="bottom">
  <div id='radio' style="margin-top:auto;margin-bottom:auto;">
  <img src="https://i.imgur.com/5phFYbt.png" style="height:20vh;">
  <div class="musicinfo" style="margin-top:5vh;">
    <audio id="idAudio">
  		<source src="{{url_for('static', filename='campfire.mp3')}}" type="audio/mpeg">
    </audio>
    <button onclick="play_Audio()" type="button">
      <img src="https://i.imgur.com/UrAFv3h.png" style="height:7vw;">
    </button>
    <button onclick="pause_Audio()" type="button" >
      <img src="https://i.imgur.com/rSEFahk.png" style="height:7vw;">
    </button>
  </div>
  </div>
</div>


<script>
  //audio script
  var GFG = document.getElementById("idAudio");
  function play_Audio() {
    GFG.play();
  }

  function pause_Audio() {
    GFG.pause();
  }

  function AddLi(str)
  {
      var li = document.createElement('li');
      li.appendChild(document.createTextNode(str))
      document.getElementById("messages").appendChild(li);
    document.querySelector('#message').value = "";
  }


function chatbox(){
  var connectbox = document.getElementById("connpop");
  connectbox.style.display="none";
  document.getElementById("chatpop").style.filter="opacity(100%)";
}
document.getElementById('message')
  .addEventListener('keyup', function(event) {
      if (event.code === 'Enter')
      {
        AddLi(document.getElementByID('text').value())
      }
  });
  //this is to show connect box when removing chat
function connectbox(){
  var chatbox=document.getElementById("chatpop");
  chatbox.style.display="none";
  document.getElementById("connpop").style.filter="opacity(100%)";
}
</script>
{% endblock %}